<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Tamagotchi</h1>
    <h2>Add a new Tamagotchi</h2>
    <form action="/tamagotchis" method="post">
      <label for="name">Name: </label>
      <input id="name" name="name" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
